<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
   <listener class-name="Listners.TestListners"/>
   </listeners>
  <test thread-count="5" name="Test">
  <parameter name="BrowserName" value="Chrome"></parameter>
  
    <classes>
  <class name="TestCases.VerifyLogin">
      
      </class>
      <class name="TestCases.Usermenudropdown">
     <!-- <methods>
      <include name="testCase08_developerConsole"></include>
    
      </methods>
      --></class>
      <class name = "TestCases.UserAccount">
      <!--<methods>
      <include name="TestCase11_CreateView"/>
      </methods>-->
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
